@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700&display=swap');




a {
  color: #fff;
}


.navbar {
  background-color: #3e3c3c;  
}

.navbar-custom .navbar-brand {
  margin-left: 3rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.navbar-nav {
  margin-right: 5rem;
}

.nav-item .nav-link{
  margin-right: 2rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.nav-item .nav-link:hover {
  color: #fff;
}

#main-section {
  background-color: #1c1a19;
}

#main-p {
  margin-top: 10rem;
  padding-right: 6rem;
}

#main-p h1 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 81.5px;
  color: #f55800;
}

#main-p h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;

}

#main-p p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 24px;
  color: #fff;

}

#social-icons {
  order: -1;
  margin-top: 5rem;
  color: #fff;
}
