@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');




a {
  color: #fff;
}


.navbar {
  background-color: #3e3c3c;  
}

.navbar-custom .navbar-brand {
  margin-left: 5rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.navbar-nav {
  margin-right: 5rem;
}

.nav-item .nav-link{
  margin-right: 2rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.nav-item .nav-link:hover {
  color: #fff;
}
